@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro Black', sans-serif;
    background: url(library.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: #2c3e50;
    padding: 25px;
}

header h1 {
    text-decoration: underline;
    font-size: 45px;
    color: #dce5e0;
}

.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content {
    background-color: #1abc9c;
    opacity: .90;
    padding: 0 20px;
    border-radius: 15px;
    border: 5px;
    border-style: solid;
    border-color: #1c242e;
}

.modal-content h4 {
    margin-bottom: 25px;
    padding: 15px 0;
    font-size: 32px;
    text-decoration: underline;
}

.form-group-1, .form-group-2 {
    margin-bottom: 25px;
}

.form-group-1 input, .form-group-2 input {
    height: 42px;
    border-radius: 15px;
    border: 0;
    font-size: 18px;
    padding-left: 45px;
}

.form-group-1::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f007";
    position: absolute;
    font-size: 22px;
    /* color: #555e60; */
    left: 28px;
    padding-top: 4px;
}

 .form-group-2::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f084";
    position: absolute;
    font-size: 22px;
    /* color: #555e60; */
    left: 28px;
    padding-top: 4px;
}

.login-btn {
    width: 40%;
    margin: 5px 0 15px;

    background-color: #2c3e50;
    color: #dce5e0;
    font-size: 20px;
    padding: 7px 14px;
    border-radius: 15px;
    border: 3px;
    border-style: solid;
    border-color: #dce5e0;
}

.guest-btn {
    width: 70%;
    margin: 10px 0 15px;

    background-color: #2c3e50;
    color: #dce5e0;
    font-size: 20px;
    padding: 7px 14px;
    border-radius: 15px;
    border: 3px;
    border-style: solid;
    border-color: #dce5e0;
}

.login-btn:hover, .guest-btn:hover {
    background-color: #1c242e;
}

.register {
    font-size: 18px;
    padding: 20px 0 5px;
}

.register a {
    color: #2c3e50;
}

.register a:hover {
    color: #1c242e;
}