{% extends "ez_main/base.html" %}


{% block header %}
<h2 class="col-md-12 text-center text-black mb-5">Login in on our Platform</h2><hr />
{% endblock header %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
            <h2 class="col-md-12 text-center mb-5">Login in on our Platform</h2><hr />
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card class="btn btn-success btn-lg float-left">
                            
                            <div class="card-body">
                                <form method="post" action="{% url 'users:login' %}" class="form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <p class="mt-2 mb-3 text-center">
                                    <button name="submit" class="btn btn-outline-primary text-center mt-3">Login</button>
                                    <input type="hidden" name="next" value="{% url 'ez_main:home_page' %}"/>
                                </p>
                                <p class="mt-3 mb-4 text-center"> Don't have an account?<a href="{% url 'users:register' %}"><i>Sign up here</i></a>&nbsp <i>or</i></a></p>
                                <p class="mt-2 mb-5 text-center">
                                    <button name="submit" class="btn btn-outline-primary text-center mt-3">login as guest</button>
                                </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
    </div>    
{% endblock content %